.home__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
}

.deal:hover {
  transform: scale(1.01);
  filter: brightness(90%);
}

.deal {
  background-image: url('../assets/images/home1.jpg');
  width: 100%;
  height: 70vh;
  background-color: grey;
  transform-origin: 55% 75%;
  transition: transform 1s, filter 0.5s ease-out;
}

.center {
  position: absolute;
  top: 40%;
  left: 67%;
  transform: translate(-50%, -50%);
}

.center__delish {
  color: #a3a1a1;
}

.center h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2;
  color: #ac1e1e;
}

.center h3 {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 1.7;
}

.center button {
  width: 140px;
  height: 50px;
  color: white;
  background-color: #ac1e1e;
  border: none;
}

.center__offer {
  color: #5b5a5a;
}

.trending__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left__div {
  width: 40%;
  padding-left: 2%;
  text-align: left;
}

.left__div h2 {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 1.6;
}

.left__div p {
  color: gray;
}

.left__span {
  width: 130px;
  border-left: 1px solid grey;
  cursor: pointer;
  margin-left: 0.7%;
}

.left__span {
  color: black;
}
 
.left__span:hover {
  color: #dcdada;
}

.left__span i {
  font-size: small;
  color: red;
  padding-left: 1%;
}

.right__div {
  display: flex;
  padding-right: 4.2%;
  gap: 5%;
}

.right__span1 {
  width: 33px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #adacac;
  border-radius: 50%;
}

.right__span2 {
  width: 33px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #adacac;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .center {
    display: none;
  }
}
