.container {
  width: 98%;
  height: 52vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  /* background-color: red; */
}

.left__image {
  background-image: url('https://cdn.shopify.com/s/files/1/0663/8521/5723/files/h1-banner03_c6ea1488-16e3-4d39-986c-1c0404c0dfc8_1920x.jpg?v=1664444842');
  background-repeat: no-repeat;
  width: 668px;
  height: 383px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: blue;
}

.left__image:hover {
    cursor: pointer;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.left__image_text {
  width: 95%;
  text-align: left;
  color: white;
  /* background-color: white; */
}

.left__image_text h3 {
    font-size: 2.4rem;
    font-weight: 300;
}

.h3__span {
    font-weight: 700;
}

.pricing {
    font-size: 1.6rem;
    font-weight: 800;
    color: red;
}

.rigth__image {
  background-image: url('https://cdn.shopify.com/s/files/1/0663/8521/5723/files/h1-banner06_f33eb420-7518-447f-8a1a-a4299bbea201_1920x.jpg?v=1664444842');
  background-repeat: no-repeat;
  width: 1111px;
  height: 383px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-color: white;
}

.rigth__image:hover {
    cursor: pointer;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.right__image_text {
    width: 48%;
    text-align: left;
    color: white;
    /* background-color: white; */
} 


.right__image_text h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

.classic {
    color: #fafa15;
    font-weight: 800;
}